.pieDePagina {
	margin-top: 70px;
	padding-top: 20px;
	background-color: map-get($Colors, --alternative_background-color );
}

@media screen and (max-width:900px) {
	.pieDePagina {
		margin-top: 30px;
	}
}