.carousel {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.text-center {
	background-color: transparent;
	border: none;
}

.text-decoration-none {
	color: map-get($Colors,--primary);
}

