$Colors: (
	--primary: black,
	--secondary: #404040,
	--tertiary:#3486D9,
	--atext-color: #302F4D,
	--texto-opaco: gray,
	--general_background-color: white,
	--alternative_background-color: #E6E6E6
);