.main__nosotros__titulo {
	margin-bottom: 30px;
    p {
        color: map-get($Colors, --primary);
        font-size: var(--text-large);
        font-weight: bold;
        position: absolute;
        left: 10%;
        max-width: 80%;
    }
}

@media screen and (max-width:950px) {
	.main__nosotros__titulo p {
		font-size: var(--text-medium);
		left: 5%;
		max-width: 85%;
	}
}

@media screen and (max-width:600px) {
	.main__nosotros__titulo p {
		font-size: var(--text-small);
		left: 3%;
		max-width: 90%;
	}
}